<%- include("header", {title: title}); %>

<h1>Edit hjulset details</h1>

<% res = res[0] %>

<p>This is details for the hjulset <%= res.hjulset %>.</p>

<pre><%#= JSON.stringify(res, null, 4) %></pre>

<form class="label-left" method="post" action="/eshop/edit">
    <fieldset>
        <legend>Edit Hjulset</legend>

        <label for="id">Id</label>
        <input id="id" type="text" name="id" readonly value="<%= res.id %>">

        <% if (res.hjulset != null) { %>
        <label for="name">Hjulset</label>
        <input id="hjulset" type="text" name="hjulset" value="<%= res.hjulset %> "> <% } %>

        <input type="submit" name="doit" value="Edit">
    </fieldset>
</form>

<%- include("footer"); %>
