<%- include("header", {title: title}); %>

<h1>Edit M채rke details</h1>

<p>This is the details for M채rke. <%#= product %></p>

<pre><%#= JSON.stringify(res, null, 4) %></pre>

<table>
    <tr>
        <th>Id</th>
        <th>M채rke</th>
    </tr>
<% for (const row of res) { %>
    <tr>
        <td><a href="/eshop/edit/marke/<%= row.id %>"><%= row.id %></a></td>
        <td><%= row.m채rke %></td>
        <td>
            <a href="/eshop/edit/marke/<%= row.id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a href="/eshop/delete/marke/<%= row.id %>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </td>
    </tr>
<% }; %>
</table>

<%- include("footer"); %>
