<%- include("header", {title: title}); %>

<h1>Edit Pedal details</h1>

<p>This is the details for Pedal. <%#= product %></p>

<pre><%#= JSON.stringify(res, null, 4) %></pre>

<table>
    <tr>
        <th>Id</th>
        <th>Märke</th>
        <th>Pedal</th>
    </tr>
<% for (const row of res) { %>
    <tr>
        <td><a href="/eshop/edit/pedal/<%= row.id %>"><%= row.id %></a></td>
        <td><%= row.märke %></td>
        <td><%= row.pedal %></td>
        <td>
            <a href="/eshop/edit/pedal/<%= row.id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a href="/eshop/delete/pedal/<%= row.id %>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </td>
    </tr>
<% }; %>
</table>

<%- include("footer"); %>
