<div class="right-container">
    <div class="right-top">
        <h3> <%= res.username %> </h3>
    </div>
    <div class="right-middle">
        <img src="/img/hero-guy.jpg" alt="">
    </div>
    <div class="right-bottom">
        <p>Level: <%= stats.level %> </p>
        <p>Experience: <%= stats.experience %> </p>
        <p>Health: <%= stats.health %> </p>
        <p>Currency: <%= stats.money %> </p>
        <a href="..."><p>Info</p></a>
        <a href="..."><p>Bio</p></a>
        <a href="..."><p>Eqipment</p></a>
    </div>

    <!--Hero-Section from JavaScript-->
</div>
